body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 20vh;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}


.footer-row {
    width: 100%;
    display: flex;
}

.footer-left {
    width: 50%;
}

.footer-left p {
    padding: 0 1rem;
    text-align: justify;
}

.footer-right {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-right li {
    cursor: pointer;
}