body {
    background-color: whitesmoke;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

body.on .circle {
    background-color: yellow;
}

body.off .circle {
    background-color: gray;
}
