/* light theme */
body.light {
    background-color: #ffffff;
    color: #000000;
}

body.light button{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

/* dark theme */
body.dark {
    background-color: #000000;
    color: #ffffff;
}

body.dark button{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}